footer {
    display: flex;
    flex-direction: column;
    background-color: #708090;
    padding: 1%;
    margin-top: 3%;
}

.fa {
  text-align: center;
  margin-bottom: 1em;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 13px;
    width: 15px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    margin: 0.5em;
}

.fa-facebook:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 12px;
    width: 13px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    margin: 0.5em;
}

.fa-twitter:hover {
  opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
  color: white;
  padding: 12px;
  width: 13px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  margin: 0.5em;
}

.fa-google:hover {
opacity: 0.7;
}

footer button {
    display: block;
    background-color: #8b0000;
    color: #fffff0;
    font-size: 110%;
    border-radius: 0.3em;
    padding: 0.5em;
    margin: auto;
}

footer button:hover {
    opacity: 0.7;
}

p {
    text-align: center;
}