header {
    background-image: url(../img/trees.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 1%;
    margin-bottom: 4%;
}

h1 {
    font: 300% arial;
    color: #fffff0;
    text-align: center;
}

header a {
    display: inline-block;
    text-decoration: none;
    font-size: 120%;
    color: #8b0000;
    padding: 0.5em;
    border-radius: 0.3em;
    background-color: #fffff0;
    opacity: 0.6;
}

header a:hover {
    opacity: 1;
}
