@import "header.css";
@import "footer.css";
@import "card.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


body {
    background-color: #fffff0;
    font-family: arial;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blog-container {
    display: grid;
    width: 100%;
    grid-template-rows: none;
    grid-gap: 1em;
    grid-template-areas:
    "photo"
    "text"
    "aside";
}

@media(min-width:900px) {
    .blog-container {
        display: grid;
        width: 100%;
        grid-template-columns: 33vw 33vw 1fr;
        grid-template-rows: 40vw 1fr;
        grid-gap: 2vw;
        grid-template-areas:
        "photo photo aside"
        "text text aside";
    }

}

#aside {
    grid-area: aside;
    align-items: center;
}

#post-image {
    grid-area: photo;
}

#post-image img {
    object-fit: contain;
    width: 100%;
    margin-bottom: 0.5em;
}

#post-image figcaption {
    color: darkslategrey;
    text-align: center;
    font-style: italic;
}

#post-text {
    grid-area: text;
    margin-top: 1.8em;
}

#post-text q {
    display: inline-block;
    text-align: left;
    padding: 0 1em;
    font-size: 1.1em;
}

#post-text p a {
    font-size: 0.9em;
    padding: 0 0.5em;
}

#post-text p {
    text-align: left;
    padding: 0 1em;
    font-size: 1.1em;
    color: black;
}

#post-text a {
    text-decoration: none;
    color: #8b0000; 
    font-size: 1.2em;
    padding: 0 1em;
}





#post-text h3 {
    text-align: left;
    font-size: 1.2em;
    padding: 0 1em;
    color: black;
}

#post-text a:hover {
  opacity: 0.7;
}

.author {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: auto;
    background-color: #faebd7;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    height: 50vh;
}

.author h2 {
    font-size: 1.2em;
}

.author img {
    object-fit: contain;
    width: 100%;
    height: 50%;
}

.byline {
    text-align: center;
    font-size: 1em;
}

@media(min-width:900px) {
    .author {
        margin: 1em 0 0 2em;
    }
    .author h2 {
        font-size: 1.5em;
    }
    .byline {
        font-size: 1.2em;
    }
}
